@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 300ms linear !important;
}

.container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.justify-content-space-even {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.flex-direction-col {
    flex-direction: column;
}

.navbar {
    background-color: #F6E300;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 4px 35px 0px #00000014;
    padding: 10px 0;
}

.bg-color {
    background-color: #F6E300;
}

.pt-74 {
    padding-top: 74px;
}

.bg-color-light-yellow {
    background-color: #FFF03F;
}

.bg-img {
    background-image: url(../images/hero-section-image.png);
    background-repeat: no-repeat;
    height: 32vh;
    background-size: cover;
    background-position: center;
}

.nav-fonts {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: black;
}

.nav-fonts:hover {
    color: red;
}

.connect-wallet {
    padding: 12px 32px 12px 32px;
    border-radius: 10px;
    color: red;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.connect-wallet:hover {
    background-color: #F4241E;
    color: white;
}

.gap-38 {
    gap: 38px;
}

.overflow-x-auto {
    overflow-x: auto;
}

.w-200 {
    min-width: 220px;
}

.w-100 {
    width: 100%;
}

.pt-75 {
    padding-top: 75px;
}

.mt-24 {
    margin-top: 24px;
}

.py-114 {
    padding-top: 114px;
    padding-bottom: 114px;
}

.welcome {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    z-index: 2;
}

.z-index-2 {
    z-index: 2;
}

.position-relative {
    position: relative;
}

.position-absolute-burger {
    position: absolute;
}

.mt-30 {
    margin-top: 30px;
}

.burger-tl1 {
    left: 0;
}

.burger-tl2 {
    left: 25%;
}

.burger-bl1 {
    top: 48%;
    left: 0;
}

.burger-bl2 {
    top: 56%;
    left: 20%;
}

.burger-tr1 {
    right: 0;
}

.burger-tr2 {
    right: 25%;
}

.burger-br1 {
    top: 52%;
    right: 0;
}

.burger-br2 {
    top: 52%;
    right: 17%;
}

.gap-38 {
    gap: 38px;
}

.overflow-x-auto {
    overflow-x: auto;
}

.w-200 {
    min-width: 220px;
}

.w-100 {
    width: 100%;
}

.pt-75 {
    padding-top: 75px;
}

.mt-24 {
    margin-top: 24px;
}

.py-114 {
    padding-top: 114px;
    padding-bottom: 114px;
}

.welcome {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    z-index: 2;
}

.z-index-2 {
    z-index: 2;
}

.position-relative {
    position: relative;
}

.position-absolute-burger {
    position: absolute;
}

.mt-30 {
    margin-top: 30px;
}

.burger-tl1 {
    left: 0;
}

.burger-tl2 {
    left: 25%;
}

.burger-bl1 {
    top: 48%;
    left: 0;
}

.burger-bl2 {
    top: 56%;
    left: 20%;
}

.burger-tr1 {
    right: 0;
}

.burger-tr2 {
    right: 25%;
}

.burger-br1 {
    top: 52%;
    right: 0;
}

.burger-br2 {
    top: 52%;
    right: 17%;
}

.sec-4-font {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}

.sec-4-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    opacity: 80%;
    color: black;
    max-width: 591px;
}

.discover-more {
    padding: 15px 32px 15px 32px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    text-align: left;
    color: white;
    background: #F4241E;
    border: 1px solid #F4241E;
    border-radius: 10px;
}

.discover-more:hover {
    color: black;
    background-color: #FFF03F;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-48 {
    margin-top: 48px;
}

.mb-24 {
    margin-bottom: 24px;
}

.bg-color-red {
    background-color: #F4241E;
}

.supplies {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: white;
}

.sec-6-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: white;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mt-31 {
    margin-top: 31px;
}

.sec-6-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    opacity: 80%;
    text-align: center;
    color: white;
}

.timeline {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #F4241E;
    top: 17px;
    bottom: -35px;
    left: 50%;
    margin-left: -3px;
}

.container-t {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container-t::after {
    content: '';
    position: absolute;
    Width: 36.03px;
    Height: 36.03px;
    right: -18px;
    background-color: white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -18px;
}

.content {
    padding: 27px 23px 27px 23px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.mt-10 {
    margin-top: 10px;
}

.timeline-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.timeline-burger-tl1 {
    left: 18%;
}

.timeline-burger-tl2 {
    top: 39%;
    left: 6%;
}

.timeline-burger-bl1 {
    top: 74%;
    left: 4%;
}

.timeline-burger-bl2 {
    top: 54%;
    left: 25%;
}

.timeline-burger-tr1 {
    right: 2%;
}

.timeline-burger-tr2 {
    right: 24%;
    top: 28%;
}

.timeline-burger-br1 {
    top: 72%;
    right: 3%;
}

.timeline-burger-br2 {
    top: 72%;
    right: 28%;
}

.py-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.mb-50 {
    margin-bottom: 50px;
}

.h-100 {
    height: 100%;
}

.roadmap {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
}

.mt-38 {
    margin-top: 38px;
}

.py-42 {
    padding-top: 42px;
    padding-bottom: 42px;
}
